@charset "utf-8";
@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}


$linkColor: #7594b3;

.archives {

	.main {
		width: 880px;
		display: inline-block;
	}

	.category-bar {
		float: right;
		width: 288px;
	 	.segment {
	 		position: fixed;
	 		top: 0px;
	 		bottom: 0;
	 		// margin-left: 912px;
 		    border-left: 1px solid #ddd;
	 		z-index: 1;

	 		.arrow {
	 			position: fixed;
	 			top: 50%;
	 			margin-top: -40px;
	 			display: inline-block;
	 			width: 20px;
	 			height: 80px;
	 			cursor: pointer;
	 			background: url('../img/icon-menu-right.png') center center no-repeat #ddd;
	 			&.closed {
	 				background: url('../img/icon-menu-left.png') center center no-repeat #ddd;
	 			}
	 		}
	 	}

	 	@at-root {
	 		.category-panel {
				padding-left: 32px;
				margin-top: 54px;

	 			.title {
					font-size: 16px;
					font-weight: normal;
					color: #333;
	 			}

	 			.cate-list {
	 				margin-top: 21px;
	 			}

	 			.cate-item {
	 				margin-bottom: 14px;
	 				color: #666;
	 				font-size: 14px;
	 				a {
	 					color: #7594b3;
	 					border-bottom: 1px solid transparent;
	 					@include transition($time: 0.1s);
	 					&:hover {
	 						border-bottom-color: #7594b3;
	 					}
	 				}
	 				.number {
	 					float: right;
	 				}
	 			}
	 		}
	 	}

	}
	

	@at-root {
		.ar-nav {
			height: 72px;
			line-height: 72px;
			border-bottom: 1px solid #ddd;

			.nav-link {
				float: left;
				margin-right: 48px;
				font-size: 16px;
				color: #aaa;
				cursor: pointer;
				@include transition();

				&.all {
					&:hover {
						color: $linkColor;
					}
				}

			}

			.nav-down {
				display: inline-block;
				padding-right: 30px;
				background: url('../img/icon-down.png') 48px 34px no-repeat;
				&:hover {
					color: $linkColor;
				}
			}

			.switch {
				position: relative;
			}

		}

		.ar-panel {

			display: none;
			cursor: default;
			position: absolute;
			top: 65px;
			width: 367px;
			height: 271px;
			z-index: 10;
			background-color: #fff;
			border: 1px solid #bcc1c8;
			// @extend %IEBox;
			&:before {
				content: '';
				position: absolute;
				top: -11px;
				left: 43px;
				@include bgsize(19px, 11px);
				@include bgimg('../img/ar-top.png');
			}

			&.open {
				display: block;
			}

			&.date {
				padding: 0 20px;
				
				.year {
					position: relative;
					text-align: center;
					font-size: 30px;
					font-family: Microsoft Yahei;
					font-weight: normal;
					line-height: 80px;
					color: #aaa;
					.icon {
						position: absolute;
						margin-top: 31px;
						cursor: pointer;
					}
				}

				.icon-arleft {
					top: 0;
					left: 0;
				}

				.icon-arright {
					top: 0;
					right: 0;
				}

				.date-list {
					width: 366px;
					border: 1px solid #d7d8db;
					border-width: 1px 1px 0 0;
				}

				.date-item {
					float: left;
					width: 61px;
					height: 75px;
					background-color: #fff;
					border: 1px solid #d7d8db;
					border-width: 0 0 1px 1px;
					text-align: center;
					@extend %IEBox;



					h3 {
						font-size: 24px;
						line-height: 49px;
						color: #555;
						font-weight: normal;
						font-family: Microsoft Yahei;
					}

					.number {
						font-size: 12px;
						font-family: Microsoft Yahei;
						color: #999;
						line-height: 14px;

					}

					&.disabled {
						background-color: #f8f8f8;
						h3 {
							color: #d9d9d9;
						}
						.number {
							display: none;
						}
					}

					&.active {
						background: #7c7c7c;
						h3 {
							color: #fff;
						}
						.number {
							color: #fff;
						}
					}

				}


			}

			&.tag {
				height: 273px;
				width: 450px;
				padding: 28px 10px 28px 34px;
				@extend %IEBox;

				.tag-list {
					height: 214px;
					overflow-y: auto;
				}

				.ar-tag {
					display: inline-block;
					float: left;
					margin: 0 3px 3px 0; 
					height: 35px;
					padding: 0 14px;
					line-height: 35px;
					font-size: 16px;
					color: #fff;
					background-color: #888;
					border-radius: 4px;

					@include transition($time: 0.15s);

					&:hover, &.active {
						background-color: #444;
					}

				}

			}

		}

	}

}

.ar-content {
	margin-bottom: 150px;

	.no-result {
		// text-align: center;
		padding-top: 30px;
		color: #666;

		.emoji {
			color: #efa6a1;
			margin-right: 5px;
			font-size: 19px;
		}
	}
}

.chapter {
	
	margin-bottom: 7px;

	.ch-title {
		padding: 29px 0 13px 0;
		font-size: 16px;
		font-weight: normal;
		color: #000;
	}

	.ch-item {
		float: left;
		margin-right: 35px;
		height: 45px;
		line-height: 45px;
		color: #666;
		font-size: 16px;
		border-bottom: 1px dashed #ddd;
		@include transition();

		&:hover {
			color: #333;
			border-bottom-color: #999;
		}

		.date {
			margin-right: 11px;
		}
	}
}
