
@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}


.article-main {
	// float: left;
	width: 853px;
	position: absolute;
	top: 0;
	// left: 0;
	// height: 1500px;

	.content {
		padding: 65px 45px 50px;
		background-color: #fff;


		.toComment {
			margin-left: 19px;
			display: none;
		}

		&:hover {
			.toComment {
				display: inline;
			}
		}
	}
	@at-root {
		.atc-top {
			margin-bottom: 57px;
			.title {
				font-size: 28px;
				color: #444;
				font-weight: 200;
				margin-bottom: 13px;
			}
			.subtitle {
				font-size: 12px;
				color: #aaa;
				.icon {
					position: relative;
					top: 2px;
					margin-right: 6px;
				}

				span {
					margin-right: 19px;
				}

				a {

					color: #7594b3;
					@include transition();
					&:hover {
						color: darken(#7594b3, 20%);
					}


				}

				

			}
			
	}
		/* 文本效果 */
		.atc-content {
			font-size: 15px;
			padding-bottom: 60px;
			color: #333;
			h1 {
				margin-bottom: 25px;
			    padding: 0.3em 0;
				font-size: 20px;
				font-weight: 600;
				line-height: 30px;
			    border-bottom: 1px solid #eee;
			}
			h2 {
				font-size: 17px;
				font-weight: 600;
				line-height: 30px;
				margin-bottom: 25px;
			}
			
			h3 {
				font-size: 16px;
				font-weight: 600;
				line-height: 30px;
				margin-bottom: 25px;
			}

			& > p {
				line-height: 27px;
				margin-bottom: 25px;
				word-wrap: break-word;
			}


			ul {
				list-style-type: disc;
				margin: 16px 0;
				padding-left: 40px;
				li {
					line-height: 27px;
				}
				p {
					margin: 0;
					line-height: 27px;
				}
			}

			ol {
				list-style-type: decimal;
				margin: 16px 0;
				padding-left: 40px;
				li {
					line-height: 27px;
				}
				p {
					margin: 0;
					line-height: 27px;
				}
			}

			blockquote {
				margin: 20px 0;
				padding: 15px;
				border-left: 3px solid #ccc;
				background-color: #f7f7f7;
				font-family: inherit;
				
				p {
					margin: 0;
					line-height: 30px;
				}

			}


			code {
			    background: #eee;
			    text-shadow: 0 1px #fff;
			    padding: 0 0.3em;
			    margin: 0 0.3em;
			    font-family: inherit;
			}


			.highlight {
				background: #f7f7f7;
			    margin: 20px 0;
			    padding: 15px;
			    overflow: auto;
			    font-size: 13px;
			    color: #4d4d4c;
			    line-height: 1.6;
		        font-family: "PT Mono", Consolas, Monaco, Menlo, monospace;
				pre {
				    color: #666;
				    text-align: right;
					padding-right: 20px;
				}
			}

			pre {
				margin-bottom: 25px;
			    padding: 16px;
			    overflow: auto;
			    font-size: 85%;
			    background-color: #f7f7f7;
		        word-wrap: normal;
			    border-radius: 3px;
			    color: #333;
			    font: 13px Consolas, "Liberation Mono", Menlo, Courier, monospace;
				font-family: inherit;
				line-height: 25px;
				code {
					background: transparent;
				    text-shadow: none;
				    padding: 0;
				    margin: 0;
				    line-height: 25px;
				}

			}

			img {
				display: block;
				max-width: 100%;
				margin: 10px 0;
				border: 1px solid #eee;
				padding: 5px;
				border-radius: 2px;
				@extend %IEBox;
			}

			a {
			    color: #4078c0;
		    	text-decoration: none;

		    	&:hover {
		    		text-decoration: underline;
		    	}
			}

			table {
				margin-bottom: 20px;
				width: 100%;
			    border-spacing: 0;
				border-collapse: collapse;
				font-size: 14px;


				thead {
					tr {
						-webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    box-sizing: border-box;
					}

					th {
						padding: 8px;
						line-height: 1.42857143;
					    vertical-align: bottom;
		    			border-bottom: 2px solid #ddd;
				    }
				}

				tbody {

					tr:hover {
						background-color: #f5f5f5;
					}

					td {
					    padding: 8px;
					    line-height: 1.42857143;
					    vertical-align: top;
					    border-top: 1px solid #ddd;
					}

				}
			

			}


		}

		.atc-bottom {

			.tags {
				margin-bottom: 37px;
			}
			.tag {
				display: inline-block;
				background-color: #f5f5f5;
				margin-right: 13px;
				
				font-size: 13px;
				color: #555;
				@include transition();
				&:hover {
					background-color: darken(#f5f5f5, 10%);
				}

				a {
					display: inline-block;
					padding: 1px 7px;
				}
			}

			.page {
				padding: 34px 0;
				border-top: 1px solid #eee;
				a {
					font-size: 14px;
					color: #999;
					@include transition();
					&:hover {
						color: #333;
					}
					&.left {
						float: left;
						.icon {
							margin-right: 9px;
						}
						&:hover {
							.icon-pageleft {
								@include bgimg('../img/icon-pageleft-active.png');
							}
						}
					}
					&.right {
						float: right;
						.icon {
							margin-left: 9px;
						}
						&:hover {
							.icon-pageright {
								@include bgimg('../img/icon-pageright-active.png');
							}
						}
					}

				}
				.text {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.atc-hot {
			padding: 58px 0;
			text-align: center;

			span {
				cursor: pointer;
				margin-bottom: 7px;
			}

			.widget {
				display: inline-block;
				margin: 0 40px;
				color: #555;
				&.active {
					.icon-like {
						cursor: default;
						@include bgimg('../img/icon-like-active.png');
					}
					color: #85b7e2;
				}
			}
		}


		.comment-panel {
			background-color: #fff;
			padding: 47px 45px 100px;
			margin-bottom: 200px;

			.panel-title {
				
				font-size: 22px;
				font-weight: 200;
				color: #333;

				.emoji {
					color: #FAEA85;
					margin: 0 5px;
				}
			}

			.loadmore {
				text-align: center;
				margin-top: 10px;
				padding: 5px 0;
				font-size: 14px;
				color: #828d95;


				span {
					cursor: pointer;
					@include transition();

					&.icon {
						margin: 0 0 1px 4px;
					}


					&:hover {
						color: darken(#828d95, 10%);
					}
				}
			}
		}

		.comments-list {

		}

		.comment {
			padding: 20px 0 22px 0;
			border: 1px dashed #eee;
			border-width: 1px 0 1px;
			&:hover {
				.quote {
					display: inline!important;
				}
			}
			&:first-child {padding: 0.3em;
				margin-top: 47px;
				border-top: 0;
			}
			.cm-top {
				font-size: 13px;
				color: #999;

				.info {
					float: left;
					a {
						margin-top: -1px;
						border-bottom: 1px solid #888;
						cursor: pointer;
						@include transition();
						&:hover {
							border-bottom: 1px solid #333;
						}
					}
				}
				.handle {
					float: right;
				}

				.name {
					display: inline-block;
					font-size: 16px;
					color: #3a3a3a;
					margin-right: 15px;
				}

				.quote {
					display: none;
					margin-right: 15px;
					cursor: pointer;
					text-decoration: underline;
					@include transition();
					&:hover {
						color: #555;
					}
				}
			}
			.cm-content {
				padding: 10px 100px 10px 0;
				word-break: break-all;
				word-wrap: break-word;
				white-space: pre-line;
				p {
					line-height: 28px;

					&.shield {
						padding: 3px 8px;
						color: #999;
						border: 1px dashed #999;
					}

				}
				a {
					text-decoration: underline;
					color: #2277da;
					margin: 0 3px;
				}
				blockquote {
					display: block;
					margin-bottom: 5px;
					padding: 10px 14px;
					font-size: 12px;
					border-left: 3px solid #eee;
					background-color: #f8f8f8;
					word-break: break-all;
					word-wrap: break-word;
					white-space: pre-line;
					blockquote {
						margin-bottom: 0;
					}
					pre {
						font-weight: bold;
						padding-bottom: 7px;
						word-wrap: normal;
						word-break: break-all;
						word-wrap: break-word;
						white-space: pre-line;
					}
					p {
						line-height: 20px;
					}
					a {
						color: #333;
						margin: 0;
					}
				}
				code {
					display: block;
					margin-bottom: 5px;
					width: 100%;
					padding: 10px 14px;
					font-size: 12px;
					background-color: #f8f8f8;
					white-space: pre-wrap;
					overflow-x: auto;
					@extend %IEBox;
				}
			}
		}

		.comment-box {
			padding: 60px 0;

			.important {
				color: #f44336;
			}

			.label {
				margin: 12px 0;
				font-size: 16px;
				color: #555;
			}

			.form-text {
				border: 1px solid #ccc;
				font-size: 14px;
				padding: 7px 9px;
				width: 250px;

				&.msg {
					width: 100%;
					max-width: 500px;
					min-height: 50px;
					@include transition();
					&:focus, &.on {
						min-height: 150px;
					}
				}
			}

			label {
				cursor: pointer;
			}

			.remember {
				margin: 12px 0 10px;
				font-size: 14px;
				color: #888;

				input {
					cursor: pointer;
				}

				span {
					position: relative;
					top: -2px;
					margin-left: 4px;
					
				}
			}

			.submit {
				font-size: 14px;
				padding: 5px 60px;
				color: #fff;
				background-color: #777;
				border: 0;
				font-family: inherit;
				cursor: pointer;
				@include transition();

				&:hover {
					background-color: #373737;
				}
			}
		}

	}
}

