@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}

.book-wrap {
	position: relative;
	padding-top: 30px;
	width: 90%;
}

.book-bar {
	float: right;
	width: 450px;
	.number {
		margin-top: 10px;
		font-size: 15px;
		color: #fff;
		text-shadow: 0 1px 2px rgba(#000, 0.18);
	}
	margin-bottom: 70px;
}

ul.book-list {
	width: 100%;
	padding: 0 6px;
	min-height: 600px;
	background-color: #fff;
	@extend %IEBox;
	border-radius: 4px;

	li {
		position: relative;
		padding: 0 16px;
		line-height: 60px;
		height: 60px;
		font-size: 15px;
		border-bottom: 1px solid #eee;

		&:last-child {
			border-bottom: 0;
		}

		&:hover, &.active {
			&:before {
				content: '';
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-right-color: #fff;
				position: absolute;
				top: 20px;
				left: -25px;
			}

			.book-name {
				color: #d4aa59;
			}
		}

	}

	.book-name {
		float: left;
		color: #666;
		@include transition();
	}

	.price {
		float: right;
		color: #999;
		@include transition();
	}


}

.book-panel {
	float: right;
	text-align: right;
	margin-right: 67px;
	color: #fff;
	font-size: 15px;
	text-shadow: 0 1px 2px rgba(#000, 0.18);

	.book-name {
		margin: 20px 0;
		font-size: 22px;
	}

	.price {
		margin: 20px 0;
		span {
			margin-left: 20px; 
		}

	}

	.star {
		margin-top: 30px;
	}

	.photo {
		display: inline-block;
		margin-top: 80px;
		width: 200px;
		background-color: #fff;

		img {
			max-width: 100%;
		}
	}

	&.fix {
		position: absolute;
		right: 517px;
		top: 25px;
		margin-right: 0;
	}

}

.b-head {

	padding: 0 0 40px 0;

	.title {
		height: 34px;
		line-height: 34px;
		font-size: 24px;
		font-weight: normal;
		color: #000;
		span {
			font-size: 18px;
			color: #ccc;
		}
	}
	.about {
		font-size: 13px;
		line-height: 24px;
		color: #868686;
	}
}

.b-body {
	overflow: hidden;
	padding-bottom: 65px;
}

$right: 5%;

.b-list {
	margin-right: -$right;

	.wrap {
		margin-bottom: 20px;
		height: 216px;
		text-align: center;
		img {
			max-width: 80%;
			max-height: 100%;
			object-position: center;
		}
	}
}

.book-widget {
	position: relative;
	// float: left;
	display: inline-block;
	vertical-align: top;
	width: (100 - 3*$right) / 3;
	padding: 50px 0;
	margin-right: $right;
	font-size: 12px;
	// border: 1px solid transparent;
	// border-width: 1px 0 1px;

	$borderColor: #ccc;
	$distance: -60%;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: $distance;
		width: 100%;
		height: 1px;
		background-color: $borderColor;
		opacity: 0;
		@include transition();
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		right: $distance;
		width: 100%;
		height: 1px;
		background-color: $borderColor;
		opacity: 0;
		@include transition();
	}


	&:hover {
		// border-color: #eee;
		&:before {
			opacity: 1;
			left: 0;
		}
		&:after {
			opacity: 1;
			right: 0;
		}
	}
	.text {
		margin-bottom: 10px;
	}
	.book-name {
		line-height: 30px;
		min-height: 30px;
	}
	.introduction {
		line-height: 24px;
		white-space: pre-line;
	}
	.foot {
		font-size: 12px;
		.time {
			color: #fff;
			padding: 0 5px;
			border-radius: 2px;
			box-shadow: 0 1px 2px rgba(#000, 0.18);
			background-color: #94AEC8;
			cursor: pointer;
		}
		.recommend {
			float: right;
			margin-left: 20px;
			font-weight: normal;
			color: #999;
			cursor: pointer;
			@include transition();
			&:hover {
				color: #7594b3;
			}
			&.on {
				color: #7594b3;
				cursor: default;
			}
		}
	}
}