@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}

.comment-panel {
	background-color: #fff;
	padding: 47px 45px 100px;
	margin-bottom: 200px;

	.panel-title {
		
		font-size: 22px;
		font-weight: 200;
		color: #333;

		.emoji {
			color: #FAEA85;
			margin: 0 5px;
		}
	}

	.loadmore {
		text-align: center;
		margin-top: 10px;
		padding: 5px 0;
		font-size: 14px;
		color: #828d95;


		span {
			cursor: pointer;
			@include transition();

			&.icon {
				margin: 0 0 1px 4px;
			}


			&:hover {
				color: darken(#828d95, 10%);
			}
		}
	}
}

.comments-list {

}

.comment {
	padding: 20px 0 22px 0;
	border: 1px dashed #eee;
	border-width: 1px 0 1px;
	&:hover {
		.quote {
			display: inline!important;
		}
	}
	&:first-child {padding: 0.3em;
		margin-top: 47px;
		border-top: 0;
	}
	.cm-top {
		font-size: 13px;
		color: #999;

		.info {
			float: left;
			a {
				margin-top: -1px;
				border-bottom: 1px solid #888;
				cursor: pointer;
				@include transition();
				&:hover {
					border-bottom: 1px solid #333;
				}
			}
		}
		.handle {
			float: right;
		}

		.name {
			display: inline-block;
			font-size: 16px;
			color: #3a3a3a;
			margin-right: 15px;
		}

		.quote {
			display: none;
			margin-right: 15px;
			cursor: pointer;
			text-decoration: underline;
			@include transition();
			&:hover {
				color: #555;
			}
		}
	}
	.cm-content {
		padding: 10px 100px 10px 0;
		word-break: break-all;
		word-wrap: break-word;
		white-space: pre-line;
		p {
			line-height: 28px;

			&.shield {
				padding: 3px 8px;
				color: #999;
				border: 1px dashed #999;
			}

		}
		a {
			text-decoration: underline;
			color: #2277da;
			margin: 0 3px;
		}
		blockquote {
			display: block;
			margin-bottom: 5px;
			padding: 10px 14px;
			font-size: 12px;
			border-left: 3px solid #eee;
			background-color: #f8f8f8;
			word-break: break-all;
			word-wrap: break-word;
			white-space: pre-line;
			blockquote {
				margin-bottom: 0;
			}
			pre {
				font-weight: bold;
				padding-bottom: 7px;
				word-wrap: normal;
				word-break: break-all;
				word-wrap: break-word;
				white-space: pre-line;
			}
			p {
				line-height: 20px;
			}
			a {
				color: #333;
				margin: 0;
			}
		}
		code {
			display: block;
			margin-bottom: 5px;
			width: 100%;
			padding: 10px 14px;
			font-size: 12px;
			background-color: #f8f8f8;
			white-space: pre-wrap;
			overflow-x: auto;
			@extend %IEBox;
		}
	}
}

.comment-box {
	padding: 60px 0;

	.important {
		color: #f44336;
	}

	.label {
		margin: 12px 0;
		font-size: 16px;
		color: #555;
	}

	.form-text {
		border: 1px solid #ccc;
		font-size: 14px;
		padding: 7px 9px;
		width: 250px;

		&.msg {
			width: 100%;
			max-width: 500px;
			min-height: 50px;
			@include transition();
			&:focus, &.on {
				min-height: 150px;
			}
		}
	}

	label {
		cursor: pointer;
	}

	.remember {
		margin: 12px 0 10px;
		font-size: 14px;
		color: #888;

		input {
			cursor: pointer;
		}

		span {
			position: relative;
			top: -2px;
			margin-left: 4px;
			
		}
	}

	.submit {
		font-size: 14px;
		padding: 5px 60px;
		color: #fff;
		background-color: #777;
		border: 0;
		font-family: inherit;
		cursor: pointer;
		@include transition();

		&:hover {
			background-color: #373737;
		}
	}
}