@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}
$bgColor: #ededef;
$navHeight: 86px;

.nav {
	position: relative;
	margin-bottom: 32px;
	color: #fff;
	height: 86px;
	background-color: #24292c;
	z-index: 10;
	@include transition();
	.brand {
		margin-top: 31px;
		@include bgsize(228px, 30px);
		@include bgimg('../img/brand.png');
	}

	.nav-bar {
		float: right;
	}

	.nav-list {
		display: inline-block;
		font-size: 16px;
		position: relative;
		.triangle {
			@include transition($time: 0.3s);
			display: block;
			position: absolute;
			display: none;
			bottom: 0;
			width: 0;
		    height: 0;
		    padding: 0;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
		    border-bottom: 8px solid $bgColor;
		}
		a {
			height: $navHeight;
			line-height: $navHeight;
			padding: 0 23px;
			color: #999;
			display: inline-block;
			@include transition($time: 0.3s);
			&:hover {
				color: #ccc;
			}
			&.active {
				color: #fff;
			}

			$pos1: 30px;
			$pos2: 109px;
			$pos3: 203px;
			$pos4: 297px;
			$pos5: 382px;
			$pos6: 469px;


			&.active ~ .triangle {
				display: block;
			}
			&:nth-child(1).active {
				& ~ .triangle{
					left: $pos1;
				}
			}
			&:nth-child(2).active {
				& ~ .triangle{
					left: $pos2;
				}
			}
			&:nth-child(3).active {
				& ~ .triangle{
					left: $pos3;
				}
			}
			&:nth-child(4).active {
				& ~ .triangle{
					left: $pos4;
				}
			}
			&:nth-child(5).active {
				& ~ .triangle {
					left: $pos5;
				}
			}
			&:nth-child(6).active {
				& ~ .triangle{
					left: $pos6;
				}
			}


			&:nth-child(1):hover {
				& ~ .triangle{
					left: $pos1;
				}
			}
			&:nth-child(2):hover {
				& ~ .triangle{
					left: $pos2;
				}
			}
			&:nth-child(3):hover {
				& ~ .triangle{
					left: $pos3;
				}
			}
			&:nth-child(4):hover {
				& ~ .triangle{
					left: $pos4;
				}
			}
			&:nth-child(5):hover {
				& ~ .triangle {
					left: $pos5;
				}
			}
			&:nth-child(6):hover {
				& ~ .triangle{
					left: $pos6;
				}
			}
		}
	}
	.search-bar {
		position: relative;
		display: inline-block;
		margin-left: 23px;
		.icon-search {
			position: absolute;
			left: 11px;
			top: 7px;
			@include bgsize(16px, 16px);
			@include bgimg('../img/icon-search.png');
		}
		input {
			@extend %IEBox;
			width: 226px;
			height: 28px;
			padding: 0 10px 0 31px;
			border-radius: 30px;
			font-size: 12px;
			color: #fff;
			background-color: #000;
			&:focus + .icon-search {
				@include bgimg('../img/icon-search-active.png');
			}
			@include transition();

		}
	}

	&.mylife {
		// margin-bottom: 52px;
		// border-bottom: 1px solid #E3E3D7;
		// background: url('../img/life-nav.png') center center repeat #EAEAE0;
		

		// .nav-list {
		// 	a {
		// 		color: #a49369;
		// 		&:hover {
		// 			color: rgba(#aa3f2b, 0.8);
		// 		}
		// 		&.active {
		// 			color: #aa3f2b;
		// 		}
		// 	}
		// }

		// .brand {
		// 	@include bgimg('../img/brand-life3.png')
		// }

		// .triangle {
		// 	display: none!important;
		// }

		// .search-bar {
		// 	input {
		// 		color: #999;
		// 		background-color: transparent;
		// 		border: 1px solid #d1cebf;
		// 	}
		// }

		background-color: #132332;

		.search-bar {
			input {
				color: #666;
				background-color: #fff;
			}
		}

		margin-bottom: 70px;
	}

	&.book {
		// background: none;
		// background-color: transparent;
		// border: none;

		// .nav-list {
		// 	a {
		// 		color: rgba(#fff, 0.8);
		// 		text-shadow: 0 1px 1px rgba(#000, 0.18);
		// 		&:hover {
		// 			color: #fff;
		// 		}
		// 		&.active {
		// 			color: #fff;
		// 		}
		// 	}
		// }


		// .triangle {
		// 	display: none!important;
		// }

		// .search-bar {

		// 	input {
		// 		color: #999;
		// 		background-color: rgba(#fff, 0.9);
		// 		box-shadow: 0 2px 2px rgba(#000, 0.12);
		// 	}
		// }

		margin-bottom: 42px;

		.triangle {
			border-bottom-color: #fff!important;
		}

	}

	&.archives {
		margin-bottom: 0;

		.triangle {
			border-bottom-color: #fff!important;
		}
	}

}