@mixin transition($obj: all, $time: 0.2s, $type: ease-out) {
	transition: $obj $time $type;
	-moz-transition: $obj $time $type;	
	-webkit-transition: $obj $time $type;	
	-o-transition: $obj $time $type;
}
@mixin transitionProperty($obj) {
	transition-property: $obj;
	-moz-transition-property: $obj;	
	-webkit-transition-property: $obj;	
	-o-transition-property: $obj;
}

@mixin bgsize($width, $height) {
	display: inline-block;
	height: 0;
	width: $width;
	padding-top: $height;
	text-indent: -9999px;
	overflow: hidden;
}

%IEBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin bgimg($url) {
	background: url($url) transparent no-repeat center top;
}

@mixin transform($code) {
	transform: $code;
    -webkit-transform: $code;
    -moz-transform: $code;
    -o-transform: $code;
    -ms-transform: $code;
}

@mixin transform-origin($code) {
	transform-origin: $code;
	-ms-transform-origin: $code;
	-o-transform-origin: $code;
	-webkit-transform-origin: $code;
	-moz-transform-origin: $code;
}

.life-wrap {
	width: 620px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.box-wrap {
	margin-bottom: 30px;
}

.walk-content {
	position: relative;
    border: 1px solid #f0eaca;
}


.cont-wrap {
    margin: 0 30px;
    padding-left: 29px;
    border-left: 1px solid #f3dac6;
    overflow: hidden;
}

$linkColor: #a49369;

.cont-top {
	background: url('../img/life-bookbg.png') repeat;

	.time {
		font-size: 14px;
		font-weight: bold;
		color: $linkColor;
		text-align: center;
		padding-top: 22px;
		font-family: Arial,sans-serif;
		
		&.nophoto {
			font-weight: normal;
			text-align: left;
			& + .picture {
				display: none;
			}
		}
	}

	.picture {
		
		img {
		    max-width: 100%;
    		margin: 15px 0 0;
		}
	}

}

.cont-mid {
	color: $linkColor;
	font-size: 13px;
	// font-family: Microsoft Yahei;
	line-height: 26px;
    background: url('../img/life-line.png') repeat;

    .cont-wrap {
	    padding: 26px 29px 27px;
    }

    .text {
    	color: #555;
    	ul, ol, p, blockquote {
		    margin: 0 0 26px;
    		overflow: hidden;
    	}
    }

	a {
		font-size: 12px;
	}

	.tags {
		span {
			display: inline-block;
			margin-right: 15px;
			cursor: pointer;
			@include transition();
			&:hover {
				color: darken($linkColor, 20%);
			}
		}
	}

	.summation {
		a {
			display: inline-block;
			margin-right: 25px;
		}

		.full {
			text-decoration: underline;
			// @include transition();
			// &:hover {
			// 	color: darken($linkColor, 20%);
			// }
		}



		.icon {
			padding-left: 15px;
			background-position: 0 8px;
		}
	}

}

.cont-bot {
	padding-left: 9px;
	background: url('../img/life-left.png') no-repeat left bottom;

	.cont-bot-r {
		padding-right: 9px;
		background: url('../img/life-right.png') no-repeat right bottom;
	}

	.cont-bot-m {
		position: relative;
		height: 9px;
		background: url('../img/life-middle.png') repeat-x;
	}

	.cont-bot-sl, .cont-bot-sr {
		position: absolute;
	    bottom: -5px;
	    width: 114px;
	    height: 8px;
        background: url('../img/life-shadow.png') left bottom no-repeat;
	}

	.cont-bot-sl {
		left: 10px;
	}

	.cont-bot-sr {
		right: 17px;
	}
}


.wb-title {
    padding-bottom: 10px;
    font-size: 14px;
    color: #aa3f2b;
    font-weight: normal;
}

.wbcm {
    margin: 0 30px;
	padding: 15px 29px;

	.form-text {
		@extend %IEBox;
		border: 1px solid #ccc;
		font-size: 14px;
		padding: 7px 9px;
		width: 250px;

		&.msg {
			width: 100%;
			max-width: 500px;
			min-height: 70px;
			resize: none;
			@include transition();
			&:focus, &.on {
				min-height: 110px;
			}
		}
	}

	.submit {
		float: right;
		margin-top: 5px;
		font-size: 12px;
		padding: 4px 30px;
		color: #fff;
		background-color: #777;
		border: 0;
		font-family: inherit;
		cursor: pointer;
		@include transition();

		&:hover {
			background-color: #373737;
		}
	}

	&-list {
		margin-top: 18px;
	}

	&-item {
		position: relative;
		padding: 10px 0;
		border-top: 1px solid #f3dac6;
		
		font-size: 12px;
		color: #666;
		&:hover {
			.wbcm-time {
				display: inline;
			}
		}
	}

	$nameColor: #a49369;

	&-detail {
		margin-right: 130px;
		word-break: keep-all;
		word-wrap: break-word;

		.name {
			color: $nameColor;
		}

		.grey {
			color: #aaa;
			margin: 0 7px;
		}

		a {
			text-decoration: underline;
		}

	}


	&-handle {
		position: absolute;
		top: 10px;
		right: 0;
		color: $nameColor;
		font-weight: normal;

		.reply {
		  margin-left: 10px;
		  cursor: pointer;
		  &:hover {
		  	text-decoration: underline;
		  }
		}

		.wbcm-time {
			color: #aaa;
			display: none;
		}
	}

	&-page {
		padding: 0 10px;
		font-size: 16px;
		
		a {
			color: #666;
			@include transition();
			&:hover {
				color: #aa402b;
			}
		}

		span {
			position: relative;
			top: 2px;
			font-family: Georgia, serif;
			font-size: 28px;
		}

		.prev {
			float: left;

			span {
				margin-right: 5px;
			}
		}

		.next {
			float: right;

			span {
				margin-left: 5px;
			}
		}
	}

	&-info {
		
		margin-bottom: 20px;
		

		.label {
			font-size: 14px;
			line-height: 30PX;
			color: #a49369;
		}

		.form-text {
			padding: 5px 9px;
		}

	}

	.error-tip {
		float: left;
		margin: 9px 0 0;
		font-size: 14px;

		.icon {
		    margin-right: 5px;
		}

		.text {
		    position: relative;
		    top: -2px;
		    color: #fa5b5b;

		    &.success {
		    	color: #4dd25e;
		    }
		}
	}


	
}


